<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>IM</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

	<!--登录界面-->
	<div class="login_box">
		<div class="login">
			<input id="user_name" placeholder=" 输入一个账号">
			<input id="user_nick" placeholder="输入账号昵称">
			<button id="loginBtn">创建账号并进入聊天室</button>
		</div>
	</div>

	<!--聊天容器-->
	<div class="im_area" id="im_container">
		<!--主面板 S-->
		<div class="wang-im-main wang-drap-move">
			
			<!--主面板拖拽元素 S-->
			<div class="wang-drap-elem"></div>
			<!--主面板拖拽元素 E-->
			
			<!--主面板头部-->
			<div class="wang-im-main-head">
				<!--用户基本信息 S-->
				<div class="wang-im-userinfo wang-clearfix">
					<div class="wang-im-user-avatar"><img src="images/avatar.jpg" /></div>
					<div class="wang-im-user-text">
						<h3 class="wang-ellipsis">大男人主义</h3>
						<p class="wang-ellipsis">个人描述</p>
						<span class="wang-im-status-hide"></span>
					</div>
				</div>
				<!--用户基本信息 E-->
				
				<!--主面板选项卡 S-->
				<ul class="wang-im-main-tab">
					<li class="wang-active"><i title="好友" class="icon-font">&#xe62b;</i></li>
					<li><i title="群组" class="icon-font">&#xe86b;</i></li>
					<li><i title="消息" class="icon-font">&#xe6ab;</i></li>
				</ul>
				<!--主面板选项卡 E-->
			</div>
			
			<!--主面板选项卡 item S-->
			<div class="wang-tab-item-container wang-scroll">
				
				<div class="wang-tab-item">
					<div class="wang-open-head">
						<p class="wang-ellipsis">交友大厅<span>(57)</span></p>
						<i class="icon-font">&#xe60e;</i>
					</div>
					<div class="wang-open-body">
						<ul>
							<li class="wang-clearfix">
								<div class="wang-frend-avatar"><img src="images/avatar.jpg" /></div>
								<div class="wang-frend-text">
									<h3 class="wang-ellipsis">好友名称2</h3>
									<p class="wang-ellipsis">好友描述信息</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="wang-tab-item">
					<div class="wang-open-head">
						<p class="wang-ellipsis">我的好友<span>(57)</span></p>
						<i class="icon-font">&#xe60e;</i>
					</div>
					<div class="wang-open-body">
						<ul>
							<li class="wang-clearfix">
								<div class="wang-frend-avatar"><img src="images/avatar.jpg" /></div>
								<div class="wang-frend-text">
									<h3 class="wang-ellipsis">好友名称2</h3>
									<p class="wang-ellipsis">好友描述信息</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<!--主面板选项卡 item E-->
			
			<!--主面板底部 S-->
			<ul class="wang-main-footer">
				<li><i class="icon-font">&#xe603;</i><span></span></li>
				<li><i class="icon-font">&#xe626;</i><span></span></li>
				<li><i class="icon-font">&#xe613;</i><span></span></li>
				<li><i class="icon-font">&#xe601;</i><span></span></li>
			</ul>
			<!--主面板底部 E-->
			
		</div>
		<!--主面板 E-->
		
		<!--聊天窗口 S-->
		<div class="wang-chat-win-all wang-clearfix wang-drap-move">
			<!--左侧窗口管理-->
			<ul class="wang-chat-left wang-scroll">
				<li class="wang-clearfix wang-active">
					<div class="wang-chat-left-item-avatar"><img src="images/avatar.jpg" /></div>
					<div class="wang-chat-left-item-text">
						<h3 class="wang-ellipsis">10年经验前端10年经验前端</h3>
						<span><i class="icon-font">&#xe656;</i></span>
					</div>
				</li>
				<li class="wang-clearfix">
					<div class="wang-chat-left-item-avatar"><img src="images/avatar.jpg" /></div>
					<div class="wang-chat-left-item-text">
						<h3 class="wang-ellipsis">10年经验前端</h3>
						<span><i class="icon-font">&#xe656;</i></span>
					</div>
				</li>
				<li class="wang-clearfix">
					<div class="wang-chat-left-item-avatar"><img src="images/avatar.jpg" /></div>
					<div class="wang-chat-left-item-text">
						<h3 class="wang-ellipsis">10年经验前端</h3>
						<span><i class="icon-font">&#xe656;</i></span>
					</div>
				</li>
				<li class="wang-clearfix">
					<div class="wang-chat-left-item-avatar"><img src="images/avatar.jpg" /></div>
					<div class="wang-chat-left-item-text">
						<h3 class="wang-ellipsis">10年经验前端</h3>
						<span><i class="icon-font">&#xe656;</i></span>
					</div>
				</li>
				<li class="wang-clearfix">
					<div class="wang-chat-left-item-avatar"><img src="images/avatar.jpg" /></div>
					<div class="wang-chat-left-item-text">
						<h3 class="wang-ellipsis">10年经验前端</h3>
						<span><i class="icon-font">&#xe656;</i></span>
					</div>
				</li>
			</ul>
			<!--聊天区域-->
			<div class="wang-chat-win">
				<!--聊天对线下信息-->
				<div class="wang-chat-win-head wang-drap-elem">
					<div class="wang-chat-left-item-avatar"><img src="images/avatar.jpg" /></div>
					<div class="wang-chat-left-item-text">
						<h3 class="wang-ellipsis">10年经验前端</h3>
						<p class="wang-ellipsis">描述描</p>
					</div>
				</div>
				<!--聊天区域-->
				<ul class="wang-chat-win-text wang-scroll">
					
					<li class="wang-clearfix">
						<div class="wang-chat-text-avatar"><img src="images/avatar.jpg" /></div>
						<div class="wang-chat-text-text">
							<p class="wang-ellipsis">
								<span>2017-07-05 16:04:55</span>
								<span>大男人主义</span>
							</p>
							<div class="wang-chat-text-bubble">
								<i class="icon-font">&#xe60e;</i>
								<span>聊天的内容</span>
							</div>
						</div>
					</li>
					
					<li class="wang-clearfix wang-chat-text-self">
						<div class="wang-chat-text-avatar"><img src="images/avatar.jpg" /></div>
						<div class="wang-chat-text-text">
							<p class="wang-ellipsis">
								<span>2017-07-05 16:04:55</span>
								<span>大男人主义</span>
							</p>
							<div class="wang-chat-text-bubble">
								<i class="icon-font">&#xe60e;</i>
								<span>聊天的内容</span>
							</div>
						</div>
					</li>
					
					
					<li class="wang-clearfix wang-chat-text-self">
						<div class="wang-chat-text-avatar"><img src="images/avatar.jpg" /></div>
						<div class="wang-chat-text-text">
							<p class="wang-ellipsis">
								<span>2017-07-05 16:04:55</span>
								<span>大男人主义</span>
							</p>
							<div class="wang-chat-text-bubble">
								<i class="icon-font">&#xe60e;</i>
								<span>聊天的内容</span>
							</div>
						</div>
					</li>
					
					<li class="wang-clearfix wang-chat-text-self">
						<div class="wang-chat-text-avatar"><img src="images/avatar.jpg" /></div>
						<div class="wang-chat-text-text">
							<p class="wang-ellipsis">
								<span>2017-07-05 16:04:55</span>
								<span>大男人主义</span>
							</p>
							<div class="wang-chat-text-bubble">
								<i class="icon-font">&#xe60e;</i>
								<span>聊天的内容</span>
							</div>
						</div>
					</li>
					
					<li class="wang-clearfix wang-chat-text-self">
						<div class="wang-chat-text-avatar"><img src="images/avatar.jpg" /></div>
						<div class="wang-chat-text-text">
							<p class="wang-ellipsis">
								<span>2017-07-05 16:04:55</span>
								<span>大男人主义</span>
							</p>
							<div class="wang-chat-text-bubble">
								<i class="icon-font">&#xe60e;</i>
								<span>聊天的内容</span>
							</div>
						</div>
					</li>
					
					<li class="wang-clearfix">
						<div class="wang-chat-text-avatar"><img src="images/avatar.jpg" /></div>
						<div class="wang-chat-text-text">
							<p class="wang-ellipsis">
								<span>2017-07-05 16:04:55</span>
								<span>大男人主义</span>
							</p>
							<div class="wang-chat-text-bubble">
								<i class="icon-font">&#xe60e;</i>
								<span>聊天的内容</span>
							</div>
						</div>
					</li>
				</ul>
				<!--聊天窗口按钮组-->
				<div class="wang-chat-win-btns wang-clearfix">
					<a href="javascript:;"><i class="icon-font">&#xe648;</i></a>
					<a href="javascript:;"><i class="icon-font">&#xe600;</i></a>
					<a href="javascript:;"><i class="icon-font">&#xe63f;</i></a>
					<a href="javascript:;"><i class="icon-font">&#xe642;</i></a>
					<a href="javascript:;"><i class="icon-font">&#xe617;</i></a>
					<a href="javascript:;"><i class="icon-font">&#xe60c;</i>聊天记录</a>
				</div>
				<!--聊天输入-->
				<div class="wang-chat-win-input">
					<!--输入区域-->
					<div class="wang-chat-input-content" contenteditable="true"></div>
					<!--发送按钮-->
					<button class="wang-chat-input-send">发送</button>
				</div>
			</div>
		</div>
		<!--聊天窗口 E-->
	</div>
	
</body>
<script src="js/lib/sha1.min.js"></script>
<script src="js/lib/jquery-1.8.3.min.js"></script>
<script src="js/lib/NIM_Web_SDK_v3.9.1.js"></script>
<script src="js/wang-functions.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var w = W();
	var user_info = JSON.parse(window.localStorage.getItem('user'));
    //初始化服务端API
    var imApi = new w.Server();
	//初始化拖拽
	new w.Drag({ dragEle : '.wang-drap-elem', dragTarget : '.wang-drap-move' });
	//判断是否登录
	if(user_info || user_info.info.token){
		//打开聊天室
        openChat();
	};

	//登录按钮
	var loginBtn = w.q('#loginBtn');
	var user_name = w.q('#user_name');
	var user_nick = w.q('#user_nick');
	//点击登录
	loginBtn.addEventListener('click',function(){
		var name = user_name.value;
		var nick = user_nick.value;
		if(!name){
		    alert(user_name.placeholder);
		    return;
		};

        var user = {
            accid : name,
            name : nick
        };

		//创建账号
        imApi.createId(user,function(res){
            //创建账号成功
            if(res.code == 200){
				//保存用户信息
				var jsonString = JSON.stringify(res.info);
				window.localStorage.setItem('user',jsonString);
				//打开聊天室
				openChat();
			}else{
                var msg = '';
                if(res.desc == 'already register'){
                    msg = '账号已存在';
				};
                alert('登录出错 错误代码：' + res.code + '\r\n错误信息:' + msg);
			}
		});
	});

function openChat() {
    //关闭登录页
    w.q('.login_box').style.display = 'none';
    console.log('连接聊天室中');
    //连接云信服务器
    var NIM = SDK.NIM;
    var Chatroom = SDK.Chatroom;
	var user = JSON.parse(window.localStorage.getItem('user'));
    var nim = NIM.getInstance({
        // debug: true,
        appKey: w.key,
        account: user.accid,
        token: user.token,
        onconnect: onConnect,
        onwillreconnect: onWillReconnect,
        ondisconnect: onDisconnect,
        onerror: onError
    });

    //连接成功
	function onConnect(){
	    console.log('连接成功');
	};
	//断开连接,正在重连
    function onWillReconnect(obj) {
        // 此时说明 SDK 已经断开连接, 请开发者在界面上提示用户连接已断开, 而且正在重新建立连接
        console.log('即将重连');
        console.log(obj.retryCount);
        console.log(obj.duration);
    };
    //连接中断
    function onDisconnect(error) {
        // 此时说明 SDK 处于断开状态, 开发者此时应该根据错误码提示相应的错误信息, 并且跳转到登录页面
        console.log('连接中断');
        console.log(error);
        if (error) {
            switch (error.code) {
                // 账号或者密码错误, 请跳转到登录页面并提示错误
                case 302:
                    console.log('账号或者密码错误');
                    break;
                // 重复登录, 已经在其它端登录了, 请跳转到登录页面并提示错误
                case 417:
                    console.log('重复登录');
                    break;
                // 被踢, 请提示错误后跳转到登录页面
                case 'kicked':
                    console.log('被踢');
                    break;
                default:
                    break;
            }
        }
    };
    //连接出错
    function onError(error) {
        console.log(error);
    };
}
</script>
</html>
