<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>IM</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<!--聊天容器-->
	<div class="im_area" id="im_container">
		
		<!--主面板 S-->
		<div class="wang-im-main wang-drap-move">
			
			<!--主面板拖拽元素 S-->
			<div class="wang-drap-elem"></div>
			<!--主面板拖拽元素 E-->
			
			<!--主面板头部-->
			<div class="wang-im-main-head">
				<!--用户基本信息 S-->
				<div class="wang-im-userinfo wang-clearfix">
					<div class="wang-im-user-avatar"><img src="images/avatar.jpg" /></div>
					<div class="wang-im-user-text">
						<h3 class="wang-ellipsis">大男人主义</h3>
						<p class="wang-ellipsis">个人描述</p>
						<span class="wang-im-status-hide"></span>
					</div>
				</div>
				<!--用户基本信息 E-->
				
				<!--主面板选项卡 S-->
				<ul class="wang-im-main-tab">
					<li class="wang-active"><i title="好友" class="icon-font">&#xe62b;</i></li>
					<li><i title="群组" class="icon-font">&#xe86b;</i></li>
					<li><i title="消息" class="icon-font">&#xe6ab;</i></li>
				</ul>
				<!--主面板选项卡 E-->
			</div>
			
			<!--主面板选项卡 item S-->
			<div class="wang-tab-item-container wang-scroll">
				
				<div class="wang-tab-item">
					<div class="wang-open-head">
						<p class="wang-ellipsis">交友大厅<span>(57)</span></p>
						<i class="icon-font">&#xe60e;</i>
					</div>
					<div class="wang-open-body">
						<ul>
							<li class="wang-clearfix">
								<div class="wang-frend-avatar"><img src="images/avatar.jpg" /></div>
								<div class="wang-frend-text">
									<h3 class="wang-ellipsis">好友名称2</h3>
									<p class="wang-ellipsis">好友描述信息</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="wang-tab-item">
					<div class="wang-open-head">
						<p class="wang-ellipsis">我的好友<span>(57)</span></p>
						<i class="icon-font">&#xe60e;</i>
					</div>
					<div class="wang-open-body">
						<ul>
							<li class="wang-clearfix">
								<div class="wang-frend-avatar"><img src="images/avatar.jpg" /></div>
								<div class="wang-frend-text">
									<h3 class="wang-ellipsis">好友名称2</h3>
									<p class="wang-ellipsis">好友描述信息</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="wang-tab-item">
					<div class="wang-open-head">
						<p class="wang-ellipsis">黑名单 <span>(27)</span></p>
						<i class="icon-font">&#xe60e;</i>
					</div>
					<div class="wang-open-body">
						<ul>
							<li class="wang-clearfix">
								<div class="wang-frend-avatar"><img src="images/avatar.jpg" /></div>
								<div class="wang-frend-text">
									<h3 class="wang-ellipsis">好友名称2</h3>
									<p class="wang-ellipsis">好友描述信息</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<!--主面板选项卡 item E-->
			
			<!--主面板底部 S-->
			<ul class="wang-main-footer">
				<li><i class="icon-font">&#xe603;</i><span></span></li>
				<li><i class="icon-font">&#xe626;</i><span></span></li>
				<li><i class="icon-font">&#xe613;</i><span></span></li>
				<li><i class="icon-font">&#xe601;</i><span></span></li>
			</ul>
			<!--主面板底部 E-->
			
		</div>
		<!--主面板 E-->
		
		<!--聊天窗口 S-->
		<div class="wang-chat-win-all">
			<!--左侧窗口管理-->
			<div class="wang-chat-left">
				
			</div>
			<!--聊天区域-->
			<div class="wang-chat-win">
				
			</div>
			
		</div>
		<!--聊天窗口 E-->
		
	</div>
	
</body>
<script type="text/javascript">
	
</script>
</html>
